.container {
margin: 0 auto;
width: 80%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }

    .library-container { display: flex; }

    .library-container .library-list { width: 20%; }

    .library-container .library { flex: 1; }
}
