<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Address</h2>
    <p>My Company, LLC<br>
       1234 SW Easy Street<br>
       Suburb, ST 99999<br>
       <a href="mailto:info@mycompany.com">E-mail address</a>></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>My Book</h2>
    <img src="eia-book-cover.png" alt="Environmental Impact Assessment book">
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Contact Me</h2>
    <p id="footer-logo">Applied Ecosystem Services, LLC</p>
    <p id="phone"> 1-503-667-4517</p>
  </div>
</div>
<div class="footer">
  <p>Copyright &copy; 1993--2022 My Company, LLC. All rights reserved.</p>
</div>

