<header style="background-image: url('{{ $.Site.Params.backgroundImagePath }}');" {{ if .Params.large_header }}class="main-hero"{{ end }}>
  <div class="container">
   <h1><a href="/">{{ $.Site.Data.company.title }}</a></h1>
   <nav class="nav">
     {{ $currentPage := . }}
     <ul class="menu">
       {{ range .Site.Menus.main }}
       <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
         <span>{{ .Name }}</span>
         {{ if .HasChildren }}
         <span class="drop-icon" for="{{ .Name }}">▾</span>
         <ul class="sub-menu">
           {{ range .Children }}
           <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
             <span>{{ .Name }}</span>
           </li>
           {{ end }}
         </ul>
         {{ end }}
       </li>
       {{ end }}
     </ul>
   </nav>
  </div>
</header>
